* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    background-color: #daf9f9;
    color: blueviolet;
}

.main-container {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

.mems-container {
    box-shadow:  0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
     transition: all 0.4s linear;
}

.label-mems {
    display: flex;
    justify-content: space-between;
    margin-top: -3%;
    padding: 1% 2%;
    background-color: #86f6f6;
    cursor: pointer;
    transition: all 0.4s linear;
}

.hidden-block {
   display: block;
    max-height: 0;
    opacity: 0;
    cursor: pointer;
    background-color: azure;
    transition: all 0.4s linear;
}

.img-mems {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: all 0.4s linear;
}

.check-mark-btn {
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease;
}

.mems-item:hover .label-mems,
.mems-item:focus .label-mems {
    color: black;
    background-color: #62f0f0;
}

.hidden-block:hover,
.hidden-block:focus  {
    background-color: #f5eef4;
}

.img-mems:hover,
.img-mems:focus  {
 border-radius: 10%;
}

.mems-container:hover .check-mark-btn {
    background: url("assets/icons8-галочка.svg") center/cover no-repeat;
}

.mems-item:hover .check-mark-btn {
    background: url("assets/icons8-отмена.svg") center/cover no-repeat;
}

.mems-item:hover .hidden-block {
   opacity: 1;
   max-height: 100%;
   transition: all 0.3s linear;
}

/* Accordion */
.title-input {
    top: 0;
    left: 0;
    opacity: 0;
}

.title-input:checked+.label-mems {
    background-color: #dabbf8;
    color: #3f0707;
    transition: all 0.5s ease;
}

.title-input:checked+label+.hidden-block {
    opacity: 1;
    max-height: 100%;
    transition: all 0.3s linear;
}

@media (max-width: 1200px) {
    body {
        font-size: 1.8rem;
    }

    .main-container {
        min-height: 70%;
        min-width: 70%;
        transform: translate(-2rem, 1rem);
    }
}

@media (max-width:820px) {
    body {
        font-size: 1.5rem;
    }

    .main-container {
        min-height: 80%;
        min-width: 80%;
        transform: translate(0);
    }

    .check-mark-btn {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 0.7rem;
    }

    .main-container {
        min-height: 95%;
        min-width: 95%;
        flex-wrap: wrap;
    }

    .check-mark-btn {
        width: 1rem;
        height: 1rem;
    }
}
